<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <services>
      <configurator type="Sitecore.Support.Owin.Authentication.Services.ServicesConfigurator, Sitecore.Support.209306" />
    </services>
  </sitecore>
</configuration>