<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.AspNet.Identity.Core" version="9.0.1" targetFramework="net462" />
  <package id="SC.Microsoft.AspNet.Identity.Owin" version="9.0.1" targetFramework="net462" />
  <package id="SC.Microsoft.Extensions.Configuration.Abstractions" version="9.0.1" targetFramework="net462" />
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.1" targetFramework="net462" />
  <package id="SC.Microsoft.Owin" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Owin.Authentication" version="9.0.1" targetFramework="net462" />
</packages>